.title {
  margin: 0;
  font-size: 3rem;
  text-decoration: underline;
}
.topHeader {
  width: 100%;
  text-align: center;
  color: white;
  /* margin-bottom: 25px; */
  background: #2A77AE;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-between;
  align-content: flex-start;
}
