.title {
  margin: 0;
  font-size: 3rem;
  text-decoration: underline;
}
.topHeader {
  width: 100%;
  text-align: center;
  color: white;
  background: #FF884C;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-between;
  align-content: flex-start;
  border-bottom: 1px solid #FF5600;
  margin-bottom: 12px;
}
a {
  color: white;
  text-shadow:
		-1px -1px 0 #F12554,
		1px -1px 0 #F12554,
		-1px 1px 0 #F12554,
    1px 1px 0 #F12554;
  transition: 0.1s;
}
a:hover {
  text-shadow:
		-1px -1px 5px #F12554,
		1px -1px 5px #F12554,
		-1px 1px 5px #F12554,
		1px 1px 5px #F12554;
}
span {
  transition: 0.2s;
}
.incorrect {
  color: rgb(248, 71, 71);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.correct {
  color: rgb(51, 177, 51);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
