.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 150px;
  box-shadow: 0 3px 6px rgb(134, 96, 39), 0 3px 6px rgb(134, 96, 39);
  text-align: left;
  transition: all 0.2s ease-in-out
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:#3FD4A3;
}
.card > .img-container > img {
  width: 95%;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgb(134, 96, 39), 0 6px 10px rgb(134, 96, 39);
}
